git_demo_25-09/src/main/mule/git_demo_25-09.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bd1bb5a3-280c-4179-b042-03eac3ace126" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="git_demo_25-09Flow" doc:id="402ff8ad-31b5-4c6a-9f7c-9a46bb7ef45a" >
		<http:listener doc:name="Listener" doc:id="3dc021c3-aeb5-4d2f-b448-82089d44eb3f" config-ref="HTTP_Listener_config" path="/demo"/>
		<set-payload value='#["Git Example"]' doc:name="Set Payload" doc:id="5620a35b-e8ea-4df1-b305-03b5df620ae1" />
	</flow>
</mule>
